<template>
  <div class="app-container" />
</template>

<script>

export default {
  name: 'MatriksUklTable',
  data() {
    return {
      data: [],
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    async getData() {},
  },
};
</script>
