<template>
  <section id="actions" class="actions section">
    <div class="actions__container container grid">
      <div class="actions__data__links">
        <h2 class="section__title actions__title__links">Layanan AMDALNET</h2>
        <div class="actions__box__links__wrapper">
          <div class="actions__box__links__icon">
            <img src="/images/list2.svg" alt="">
          </div>
          <div class="actions__box__links__desc">
            <h2 class="actions__box__links__desc__title"><span class="title__primary">Pengajuan</span> Persetujuan Lingkungan</h2>
            <span class="actions__box__links__desc__subtitle">Pengajuan Persetujuan lingkungan untuk usaha dan kegiatan</span>
          </div>
        </div>

        <router-link to="/webgis">
          <div class="actions__box__links__wrapper">
            <div class="actions__box__links__icon">
              <img src="/images/map3.svg" alt="">
            </div>
            <div class="actions__box__links__desc">
              <h2 class="actions__box__links__desc__title"><span class="title__primary">WEBGIS</span> AMDAL</h2>
              <span class="actions__box__links__desc__subtitle">Peta tematik penyebaran daerah yang sudah mendapat izin AMDAL</span>
            </div>
          </div>
        </router-link>

        <div class="actions__box__links__wrapper">
          <div class="actions__box__links__icon">
            <img src="/images/communication.svg" alt="">
          </div>
          <div class="actions__box__links__desc">
            <h2 class="actions__box__links__desc__title"><span class="title__primary">Pelayanan</span> Publik</h2>
            <span class="actions__box__links__desc__subtitle">Konsultasi untuk pengajuan izin lingkungan</span>
          </div>
        </div>

        <div class="actions__box__links__wrapper">
          <div class="actions__box__links__icon">
            <img src="/images/tracking.svg" alt="">
          </div>
          <div class="actions__box__links__desc">
            <h2 class="actions__box__links__desc__title"><span class="title__primary">Tracking</span> Dokumen</h2>
            <span class="actions__box__links__desc__subtitle">Layanan untuk melacak status dokumen AMDAL</span>
          </div>
        </div>
      </div>

      <div class="actions__data__video">
        <h2 class="section__title actions__title__video">Video</h2>
        <div class="actions__video__wrapper">
          <img src="/images/no-video.png" alt="">
        </div>
        <div class="actions__video__wrapper">
          <img src="/images/no-video.png" alt="">
        </div>
        <div class="actions__video__wrapper">
          <img src="/images/no-video.png" alt="">
        </div>
        <div class="actions__video__wrapper">
          <img src="/images/no-video.png" alt="">
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: 'ActionHome',
};
</script>
