<template>
  <footer class="footer section">
    <div class="footer__container container grid">
      <div class="footer__content grid">
        <div class="footer__data">
          <img src="/images/logo-klhk.png" alt="">
          <p class="footer__description">Gedung Manggala Wanabakti Blok IV, Lt 6,<br>
            Wing C, Jalan Gatot Subroto, Jakarta Pusat, 10270.
          </p>
          <div class="footer__contact">
            <p>
              <i class="ri-phone-fill" /> (+62) 21-5730191
            </p>
            <p>
              <i class="ri-mail-fill" /> amdalnet@menlhk.go.id
            </p>
          </div>
          <div>
            <a href="https://www.facebook.com/" target="_blank">
              <i class="ri-instagram-fill footer__social" />
            </a>
            <a href="https://www.instagram.com/" target="_blank">
              <i class="ri-whatsapp-fill footer__social" />
            </a>
            <a href="https://twitter.com/" target="_blank">
              <i class="ri-twitter-fill footer__social" />
            </a>
            <a href="https://www.youtube.com/" target="_blank">
              <i class="ri-youtube-fill footer__social" />
            </a>
          </div>
        </div>

        <div class="footer__data">
          <h3 class="footer__subtitle">Tautan Terkait</h3>
          <div class="footer__divider" />
          <ul>
            <li class="footer__item">
              <a href="" class="footer__link">Konsultasi Publik</a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">Tentang Kami</a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">Kebijakan</a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">Materi</a>
            </li>
            <li class="footer__item">
              <a href="" class="footer__link">FAQ</a>
            </li>
          </ul>
        </div>

        <div class="footer__data">
          <h3 class="footer__subtitle">Mitra Kerja</h3>
          <div class="footer__divider" />

          <ul class="footer__mitra__item">
            <li class="footer__item">
              <a href="#" target="_blank">
                <img src="/images/logo-investasi.svg" alt="" class="footer__mitra">
              </a>
            </li>
            <li class="footer__item">
              <a href="#" target="_blank">
                <img src="/images/logo-atr-bpn.svg" alt="" class="footer__mitra">
              </a>
            </li>
            <li class="footer__item">
              <a href="#" target="_blank">
                <img src="/images/logo-big.svg" alt="" class="footer__mitra">
              </a>
            </li>
            <li class="footer__item">
              <a href="#" target="_blank">
                <img src="/images/logo-kelautan.svg" alt="" class="footer__mitra">
              </a>
            </li>
          </ul>
        </div>
      </div>

    </div>
  </footer>
</template>

<script>
export default {
  name: 'FooterHome',
};
</script>
