<template>
  <section id="home" class="home">
    <img src="/images/cover.png" alt="" class="home__img">

    <div class="home__container container grid">
      <div class="home__data">
        <span class="home__data-title">AMDALNET</span>
        <h1 class="home__data-subtitle">Sistem Informasi Dokumen<br> Lingkungan Hidup</h1>
        <a href="#" class="button">Ajukan Persetujuan Lingkungan</a>

      </div>

    </div>
  </section>
</template>

<script>
export default {
  name: 'HeroHome',
};
</script>
