<template>
  <div>
    <div style="text-align: right; margin-bottom: 10px">
      <el-button :loading="loadingWorkspace" type="primary" @click="getData">
        WORKSPACE
      </el-button>
    </div>
    <el-collapse v-model="activeName" :accordion="true">
      <el-collapse-item name="pelingkupan">
        <template slot="title" class="head-accordion">
          <span class="title">PELINGKUPAN</span>
        </template>
        <Pelingkupan v-if="activeName === 'pelingkupan'" />
      </el-collapse-item>
      <el-collapse-item name="matriks-identifikasi">
        <template slot="title" class="head-accordion">
          <span class="title">MATRIKS IDENTIFIKASI DAMPAK</span>
        </template>
        <MatriksIdentifikasiDampakTable
          v-if="activeName === 'matriks-identifikasi'"
        />
      </el-collapse-item>
      <el-collapse-item name="peta-batas">
        <template slot="title" class="head-accordion">
          <span class="title">PETA BATAS WILAYAH STUDI & PETA LAINNYA</span>
        </template>
        <PetaBatas v-if="activeName === 'peta-batas'" />
      </el-collapse-item>
      <el-collapse-item name="dampak-potensial">
        <template slot="title" class="head-accordion">
          <span class="title">DAMPAK POTENSIAL & DAMPAK PENTING HIPOTETIK</span>
        </template>
        <DampakHipotetik v-if="activeName === 'dampak-potensial'" />
      </el-collapse-item>
      <el-collapse-item name="metode-studi">
        <template slot="title" class="head-accordion">
          <span class="title">METODE STUDI</span>
        </template>
        <MetodeStudi v-if="activeName === 'metode-studi'" />
      </el-collapse-item>
      <el-collapse-item name="matriks-dampak">
        <template slot="title" class="head-accordion">
          <span class="title">MATRIKS DAMPAK PENTING HIPOTETIK</span>
        </template>
        <MatriksDPHTable v-if="activeName === 'matriks-dampak'" />
      </el-collapse-item>
      <el-collapse-item name="bagan-alir-pelingkupan">
        <template slot="title" class="head-accordion">
          <span class="title">BAGAN ALIR PELINGKUPAN</span>
        </template>
        <BaganAlir v-if="activeName === 'bagan-alir-pelingkupan'" />
      </el-collapse-item>
      <el-collapse-item name="table-andal">
        <template slot="title" class="head-accordion">
          <span class="title">ANALISA DAMPAK LINGKUNGAN</span>
        </template>
        <!-- <TableAndal v-if="activeName === 'table-andal'" /> -->
        <MasterDetail v-if="activeName === 'table-andal'" />
      </el-collapse-item>
      <el-collapse-item name="bagan-alir-dampak">
        <template slot="title" class="head-accordion">
          <span class="title">BAGAN ALIR DAMPAK PENTING</span>
        </template>
        <bagan-alir-dampak v-if="activeName === 'bagan-alir-dampak'" />
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
import Resource from '@/api/resource';
const andalComposingResource = new Resource('andal-composing');
// import TableAndal from '@/views/penyusunan-andal/components/Table';
import MasterDetail from '@/views/penyusunan-andal/components/MasterDetail';
import MatriksIdentifikasiDampakTable from '@/views/amdal/components/tables/MatriksIdentifikasiDampakTable.vue';
import PetaBatas from '@/views/penyusunan-andal/clone/PetaBatas.vue';
import DampakHipotetik from '@/views/penyusunan-andal/clone/DpDPH.vue';
import MetodeStudi from '@/views/amdal/components/MetodeStudi.vue';
import MatriksDPHTable from '@/views/amdal/components/tables/MatriksDPHTable.vue';
import Pelingkupan from '@/views/amdal/components/Pelingkupan.vue';
import BaganAlir from '@/views/penyusunan-andal/clone/BaganAlir.vue';
import BaganAlirDampak from '../components/BaganAlirDampak.vue';

export default {
  name: 'Andal',
  components: {
    // TableAndal,
    MasterDetail,
    MatriksIdentifikasiDampakTable,
    PetaBatas,
    DampakHipotetik,
    MetodeStudi,
    MatriksDPHTable,
    Pelingkupan,
    BaganAlir,
    BaganAlirDampak,
  },
  data() {
    return {
      activeName: '',
      loadingWorkspace: false,
    };
  },
  methods: {
    async getData() {
      this.loadingWorkspace = true;
      await andalComposingResource.list({
        docs: 'true',
        idProject: this.$route.params.id,
      });
      this.loadingWorkspace = false;

      this.$router.push({
        name: 'projectWorkspace',
        params: {
          id: this.$route.params.id,
          filename: `${this.$route.params.id}-andal.docx`,
        },
      });
    },
  },
};
</script>

<style>
.el-collapse-item__header {
  /* background-color: #296d36; */
  background-color: #1e5128;
  padding-left: 10px;
  font-size: large;
  font-weight: bold;
  color: rgb(196, 196, 196);
}
.el-collapse-item__content {
  padding-top: 10px;
}
.comment-header p {
  font-weight: normal;
}
</style>
