//to reset element-ui default css
.el-breadcrumb__inner,
.el-breadcrumb__inner a {
  font-weight: 400 !important;
}

.el-upload {
  input[type="file"] {
    display: none !important;
  }
}

.el-upload__input {
  display: none;
}

.cell {
  .el-tag {
    margin-right: 0px;
  }
}

.small-padding {
  .cell {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.fixed-width {
  .el-button--mini {
    padding: 7px 10px;
    width: 60px;
  }
}

.status-col {
  .cell {
    padding: 0 10px;
    text-align: center;

    .el-tag {
      margin-right: 0px;
    }
  }
}

.el-dialog {
  transform: none;
  left: 0;
  position: relative;
  margin: 0 auto;
}

.article-textarea {
  textarea {
    padding-right: 40px;
    resize: none;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #bfcbd9;
  }
}

//element ui upload
.upload-container {
  .el-upload {
    width: 100%;

    .el-upload-dragger {
      width: 100%;
      height: 200px;
    }
  }
}

//dropdown
.el-dropdown-menu {
  a {
    display: block
  }
}


//collapse
.el-collapse-item__header {
	padding-left: 1.5em !important;
	border-radius: 0.5em 0.5em 0 0 !important;
	background-color: #39773b !important;
	color: white !important;
	font-size:1em !important;
	font-weight: bold !important;
	text-transform: uppercase;
}
.is-active .el-collapse-item__header{
	background-color: #6cc26f !important;
}
.el-collapse-item__content {
	padding: 3em 2em 3.5em;
}


// table
.el-table thead {
	color: #333333 !important;
}

.el-table .cell { word-break: normal !important;}

  table.el-table__header {
      background-color: #6cc26f !important;
  }
.el-table thead.is-group th.el-table__cell {
      background-color: #6cc26f !important;
      color: white !important;
      text-align: center !important;
}
